@import "site/color";
@import "site/font";
@import "site/common";
@import "site/angular";

@import "site/media-screen";
@import "site/css3-mixins";
@import "site/grid";

@import "admin/variables";
@import "site/master";
@import "site/header";
@import "site/home";
@import "site/footer";
@import "site/popups";

html, body{
  font-size: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $fontRegular;
}

#cboxClose{
  position: absolute;
  top: -1rem;
  right: 1.5rem;
  background: url(../images/cross.png) no-repeat top center;
  height: 4rem;
  width: 4rem;
  background-size: contain;
  text-indent: -9999px;
  cursor: pointer;
  @media #{$tablet-portrait} {
    right: -0.1rem;
    height: 3rem;
    width: 3rem;
  }

}

.to-top{
  position: fixed;
  bottom: 8rem;
  right: 3rem;
  background: grey;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  opacity: 0.7;
}


