
#entryListing_wrapper{
  overflow: scroll;
}

#entry-list{
  .crud {
   padding: .5rem;
   text-align: right;
    button{
      span{
        float: left;
        padding: .2rem .5rem;
      }
    }
  }
}

.container{
.entry-modal,.edit-modal{
  .modal-dialog{
    .modal-content {
    .modal-footer{
      button {
        span {
          float: left;
          padding: .2rem .5rem;
        }
      }
     }
    }
  }
 }
}

.custom-btn{
  padding: .5rem;
  margin: .5rem;
  width: 90%;
}