//
//@font-face {
//    font-family: 'tradegothicno20condensedbold1361518746';
//    src: url('../fonts/tradegothicno20condensedbold1361518746.eot');
//    src: url('../fonts/tradegothicno20condensedbold1361518746.eot') format('embedded-opentype'),
//         url('../fonts/tradegothicno20condensedbold1361518746.woff2') format('woff2'),
//         url('../fonts/tradegothicno20condensedbold1361518746.woff') format('woff'),
//         url('../fonts/tradegothicno20condensedbold1361518746.ttf') format('truetype'),
//         url('../fonts/tradegothicno20condensedbold1361518746.svg#tradegothicno20condensedbold1361518746') format('svg');
//}
//
//@font-face {
//    font-family: 'HelveticaNeue';
//    src: url('../fonts/HelveticaNeue.eot');
//    src: url('../fonts/HelveticaNeue.eot') format('embedded-opentype'),
//         url('../fonts/HelveticaNeue.woff2') format('woff2'),
//         url('../fonts/HelveticaNeue.woff') format('woff'),
//         url('../fonts/HelveticaNeue.ttf') format('truetype'),
//         url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
//}
//
//
//@font-face {
//    font-family: 'helveticaneuemedium';
//    src: url('../fonts/helveticaneuemedium.eot');
//    src: url('../fonts/helveticaneuemedium.eot') format('embedded-opentype'),
//         url('../fonts/helveticaneuemedium.woff2') format('woff2'),
//         url('../fonts/helveticaneuemedium.woff') format('woff'),
//         url('../fonts/helveticaneuemedium.ttf') format('truetype'),
//         url('../fonts/helveticaneuemedium.svg#helveticaneuemedium') format('svg');
//}
//@font-face {
//    font-family: 'GearedSlabLight';
//    src: url('../fonts/GearedSlabLight.eot');
//    src: url('../fonts/GearedSlabLight.eot') format('embedded-opentype'),
//         url('../fonts/GearedSlabLight.woff2') format('woff2'),
//         url('../fonts/GearedSlabLight.woff') format('woff'),
//         url('../fonts/GearedSlabLight.ttf') format('truetype'),
//         url('../fonts/GearedSlabLight.svg#GearedSlabLight') format('svg');
//}

/*	variables	*/
$font-light: 'HelveticaNeue', sans-serif;
$font-reg: 'helveticaneuemedium', sans-serif;
$font-mid: 'GearedSlabLight', sans-serif;
$font-bold: 'tradegothicno20condensedbold1361518746', sans-serif;


$color: #8b0906;
$non-mobile-device : 768px;
$mobile: "screen and (max-width : 480px)";
$tablet-portrait: "screen and (max-width : 767px)";
$tablet-landscape: "screen and (max-width : 960px)";
$desk: "screen and (max-width : 1366px)";
$non-mobile-screen : "only screen and (min-width : #{$non-mobile-device})" !default;
/* colors */
$lightgreen:	#44b749;
$green:			#06cc8d;
$black:			#000000;
$red:			#d10000;
$lightred:		#8e0b06;
$white:			#FFFFFF;
$grey:			#9d9d9d;
$darkgrey:		#545454;
$darkblue:      #191E2B;
$yellow: 		#fff200;
