[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
@media (min-width: 768px) {
  .dl-horizontal {
    dd {
      margin-left: 164px;
    }
    dt {
      width: 150px;
    }
  }
}
/*# sourceMappingURL=admin.css.map */

@import "crud";
