[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 164px;
  }
  .dl-horizontal dt {
    width: 150px;
  }
}
#entryListing_wrapper {
  overflow: scroll;
}

#entry-list .crud {
  padding: .5rem;
  text-align: right;
}

#entry-list .crud button span {
  float: left;
  padding: .2rem .5rem;
}

.container .entry-modal .modal-dialog .modal-content .modal-footer button span, .container .edit-modal .modal-dialog .modal-content .modal-footer button span {
  float: left;
  padding: .2rem .5rem;
}

.custom-btn {
  padding: .5rem;
  margin: .5rem;
  width: 90%;
}
