/* colors */
/* Primary Colors */
/* Grey Colors */
@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/site/Lato-Black.eot");
  src: url("../fonts/site/Lato-Black.eot") format("embedded-opentype"), url("../fonts/site/Lato-Black.woff2") format("woff2"), url("../fonts/site/Lato-Black.woff") format("woff"), url("../fonts/site/Lato-Black.ttf") format("truetype"), url("../fonts/site/Lato-Black.svg#Lato-Black") format("svg");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/site/Lato-Bold.eot");
  src: url("../fonts/site/Lato-Bold.eot") format("embedded-opentype"), url("../fonts/site/Lato-Bold.woff2") format("woff2"), url("../fonts/site/Lato-Bold.woff") format("woff"), url("../fonts/site/Lato-Bold.ttf") format("truetype"), url("../fonts/site/Lato-Bold.svg#lato-Bold") format("svg");
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url("../fonts/site/Lato-Hairline.eot");
  src: url("../fonts/site/Lato-Hairline.eot") format("embedded-opentype"), url("../fonts/site/Lato-Hairline.woff2") format("woff2"), url("../fonts/site/Lato-Hairline.woff") format("woff"), url("../fonts/site/Lato-Hairline.ttf") format("truetype"), url("../fonts/site/Lato-Hairline.svg#Lato-Hairline") format("svg");
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/site/Lato-Heavy.eot");
  src: url("../fonts/site/Lato-Heavy.eot") format("embedded-opentype"), url("../fonts/site/Lato-Heavy.woff2") format("woff2"), url("../fonts/site/Lato-Heavy.woff") format("woff"), url("../fonts/site/Lato-Heavy.ttf") format("truetype"), url("../fonts/site/Lato-Heavy.svg#Lato-Heavy") format("svg");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/site/Lato-Light.eot");
  src: url("../fonts/site/Lato-Light.eot") format("embedded-opentype"), url("../fonts/site/Lato-Light.woff2") format("woff2"), url("../fonts/site/Lato-Light.woff") format("woff"), url("../fonts/site/Lato-Light.ttf") format("truetype"), url("../fonts/site/Lato-Light.svg#Lato-Light") format("svg");
}

@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/site/Lato-Medium.eot");
  src: url("../fonts/site/Lato-Medium.eot") format("embedded-opentype"), url("../fonts/site/Lato-Medium.woff2") format("woff2"), url("../fonts/site/Lato-Medium.woff") format("woff"), url("../fonts/site/Lato-Medium.ttf") format("truetype"), url("../fonts/site/Lato-Medium.svg#Lato-Medium") format("svg");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/site/Lato-Regular.eot");
  src: url("../fonts/site/Lato-Regular.eot") format("embedded-opentype"), url("../fonts/site/Lato-Regular.woff2") format("woff2"), url("../fonts/site/Lato-Regular.woff") format("woff"), url("../fonts/site/Lato-Regular.ttf") format("truetype"), url("../fonts/site/Lato-Regular.svg#Lato-Regular") format("svg");
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/site/Lato-Semibold.eot");
  src: url("../fonts/site/Lato-Semibold.eot") format("embedded-opentype"), url("../fonts/site/Lato-Semibold.woff2") format("woff2"), url("../fonts/site/Lato-Semibold.woff") format("woff"), url("../fonts/site/Lato-Semibold.ttf") format("truetype"), url("../fonts/site/Lato-Semibold.svg#Lato-Semibold") format("svg");
}

@font-face {
  font-family: 'Lato-Thin';
  src: url("../fonts/site/Lato-Thin.eot");
  src: url("../fonts/site/Lato-Thin.eot") format("embedded-opentype"), url("../fonts/site/Lato-Thin.woff2") format("woff2"), url("../fonts/site/Lato-Thin.woff") format("woff"), url("../fonts/site/Lato-Thin.ttf") format("truetype"), url("../fonts/site/Lato-Thin.svg#Lato-Thin") format("svg");
}

/*	variables	*/
html {
  font-size: 62.5%;
  /* Defining root font 10px*/
}

a, a:focus, a:active, a:hover {
  text-decoration: none;
  outline: 0 none;
  color: #0075c9;
}

a {
  color: black;
  text-decoration: none;
}

input, textarea, button {
  border: 0 none;
  -webkit-appearance: none;
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

ul li, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

*:focus {
  outline: none;
}

/*	Common classes	*/
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clear {
  clear: both;
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
	-   vertical-align          - Vertical align center
	-   icon          			- arguments: $index(Position),$size(Image px size), $image(Image name)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/* Vertical align center */
/* ICON */
.container {
  padding: 0 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 641px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 961px) {
  .container {
    width: 70%;
  }
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.no-pad {
  padding: 0;
}

.section.no-pad-bot {
  padding-bottom: 0;
}

.section.no-pad-top {
  padding-top: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.row .col.s1 {
  width: 8.33333333%;
  margin-left: 0;
}

.row .col.s2 {
  width: 16.66666667%;
  margin-left: 0;
}

.row .col.s3 {
  width: 25%;
  margin-left: 0;
}

.row .col.s4 {
  width: 33.33333333%;
  margin-left: 0;
}

.row .col.s5 {
  width: 41.66666667%;
  margin-left: 0;
}

.row .col.s6 {
  width: 50%;
  margin-left: 0;
}

.row .col.s7 {
  width: 58.33333333%;
  margin-left: 0;
}

.row .col.s8 {
  width: 66.66666667%;
  margin-left: 0;
}

.row .col.s9 {
  width: 75%;
  margin-left: 0;
}

.row .col.s10 {
  width: 83.33333333%;
  margin-left: 0;
}

.row .col.s11 {
  width: 91.66666667%;
  margin-left: 0;
}

.row .col.s12 {
  width: 100%;
  margin-left: 0;
}

.row .col.offset-s1 {
  margin-left: 8.33333333%;
}

.row .col.offset-s2 {
  margin-left: 16.66666667%;
}

.row .col.offset-s3 {
  margin-left: 25%;
}

.row .col.offset-s4 {
  margin-left: 33.33333333%;
}

.row .col.offset-s5 {
  margin-left: 41.66666667%;
}

.row .col.offset-s6 {
  margin-left: 50%;
}

.row .col.offset-s7 {
  margin-left: 58.33333333%;
}

.row .col.offset-s8 {
  margin-left: 66.66666667%;
}

.row .col.offset-s9 {
  margin-left: 75%;
}

.row .col.offset-s10 {
  margin-left: 83.33333333%;
}

.row .col.offset-s11 {
  margin-left: 91.66666667%;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

@media only screen and (min-width: 641px) {
  .row .col.m1 {
    width: 8.33333333%;
    margin-left: 0;
  }
  .row .col.m2 {
    width: 16.66666667%;
    margin-left: 0;
  }
  .row .col.m3 {
    width: 25%;
    margin-left: 0;
  }
  .row .col.m4 {
    width: 33.33333333%;
    margin-left: 0;
  }
  .row .col.m5 {
    width: 41.66666667%;
    margin-left: 0;
  }
  .row .col.m6 {
    width: 50%;
    margin-left: 0;
  }
  .row .col.m7 {
    width: 58.33333333%;
    margin-left: 0;
  }
  .row .col.m8 {
    width: 66.66666667%;
    margin-left: 0;
  }
  .row .col.m9 {
    width: 75%;
    margin-left: 0;
  }
  .row .col.m10 {
    width: 83.33333333%;
    margin-left: 0;
  }
  .row .col.m11 {
    width: 91.66666667%;
    margin-left: 0;
  }
  .row .col.m12 {
    width: 100%;
    margin-left: 0;
  }
  .row .col.offset-m1 {
    margin-left: 8.33333333%;
  }
  .row .col.offset-m2 {
    margin-left: 16.66666667%;
  }
  .row .col.offset-m3 {
    margin-left: 25%;
  }
  .row .col.offset-m4 {
    margin-left: 33.33333333%;
  }
  .row .col.offset-m5 {
    margin-left: 41.66666667%;
  }
  .row .col.offset-m6 {
    margin-left: 50%;
  }
  .row .col.offset-m7 {
    margin-left: 58.33333333%;
  }
  .row .col.offset-m8 {
    margin-left: 66.66666667%;
  }
  .row .col.offset-m9 {
    margin-left: 75%;
  }
  .row .col.offset-m10 {
    margin-left: 83.33333333%;
  }
  .row .col.offset-m11 {
    margin-left: 91.66666667%;
  }
  .row .col.offset-m12 {
    margin-left: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .row .col.l1 {
    width: 8.33333333%;
    margin-left: 0;
  }
  .row .col.l2 {
    width: 16.66666667%;
    margin-left: 0;
  }
  .row .col.l3 {
    width: 25%;
    margin-left: 0;
  }
  .row .col.l4 {
    width: 33.33333333%;
    margin-left: 0;
  }
  .row .col.l5 {
    width: 41.66666667%;
    margin-left: 0;
  }
  .row .col.l6 {
    width: 50%;
    margin-left: 0;
  }
  .row .col.l7 {
    width: 58.33333333%;
    margin-left: 0;
  }
  .row .col.l8 {
    width: 66.66666667%;
    margin-left: 0;
  }
  .row .col.l9 {
    width: 75%;
    margin-left: 0;
  }
  .row .col.l10 {
    width: 83.33333333%;
    margin-left: 0;
  }
  .row .col.l11 {
    width: 91.66666667%;
    margin-left: 0;
  }
  .row .col.l12 {
    width: 100%;
    margin-left: 0;
  }
  .row .col.offset-l1 {
    margin-left: 8.33333333%;
  }
  .row .col.offset-l2 {
    margin-left: 16.66666667%;
  }
  .row .col.offset-l3 {
    margin-left: 25%;
  }
  .row .col.offset-l4 {
    margin-left: 33.33333333%;
  }
  .row .col.offset-l5 {
    margin-left: 41.66666667%;
  }
  .row .col.offset-l6 {
    margin-left: 50%;
  }
  .row .col.offset-l7 {
    margin-left: 58.33333333%;
  }
  .row .col.offset-l8 {
    margin-left: 66.66666667%;
  }
  .row .col.offset-l9 {
    margin-left: 75%;
  }
  .row .col.offset-l10 {
    margin-left: 83.33333333%;
  }
  .row .col.offset-l11 {
    margin-left: 91.66666667%;
  }
  .row .col.offset-l12 {
    margin-left: 100%;
  }
}

/*	variables	*/
/* colors */
.master-header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5555;
  height: 11.1rem;
}

@media screen and (max-width: 1366px) {
  .master-header {
    height: 10.5rem;
  }
}

@media screen and (max-width: 767px) {
  .master-header {
    height: 6.5rem;
  }
}

.master-header .logo {
  font-size: 2rem;
  color: white;
  display: inline-block;
  margin-top: 3.6rem;
  margin-left: 3.2rem;
}

@media screen and (max-width: 1366px) {
  .master-header .logo img {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .master-header .logo img {
    width: 55%;
  }
}

@media screen and (max-width: 767px) {
  .master-header .logo {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

.master-header .mobile-tab {
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
  position: relative;
}

@media screen and (max-width: 767px) {
  .master-header .mobile-tab {
    display: inline-block;
  }
}

.master-header .mobile-tab #nav-icon4 {
  width: 3rem;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.master-header .mobile-tab #nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.master-header .mobile-tab #nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.master-header .mobile-tab #nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.master-header .mobile-tab #nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -1px;
  left: 9px;
}

.master-header .mobile-tab #nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.master-header .mobile-tab #nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 8px;
}

.master-header .mobile-tab #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #edece2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.master-header .navbar {
  float: right;
  margin-top: 3.3rem;
}

.master-header .navbar ul {
  padding-right: 2rem;
}

.master-header .navbar ul li {
  position: relative;
  float: left;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  list-style: none;
}

.master-header .navbar ul li .nav {
  text-decoration: none;
  color: white;
  font-family: "Lato-Medium", sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1366px) {
  .master-header .navbar ul li .nav {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .master-header .navbar ul li .nav {
    font-size: 3rem;
    color: #fff0d5;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .master-header .navbar ul li .nav {
    font-size: 1.5rem;
  }
}

.master-header .navbar ul li .icon {
  margin-right: 0.5rem;
}

@media screen and (max-width: 767px) {
  .master-header .navbar ul {
    width: 100%;
  }
  .master-header .navbar ul li {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .master-header .navbar {
    width: 100%;
    display: none;
    text-align: center;
  }
}

.visible {
  display: block !important;
}

.mobile-bar {
  height: 35rem;
  background-color: rgba(29, 2, 2, 0.9);
}

.fade-down {
  background-color: rgba(29, 2, 2, 0.9);
  -webkit-animation: 0.5s ease-in-out 0.1s normal both 1 running fade-down;
          animation: 0.5s ease-in-out 0.1s normal both 1 running fade-down;
}

@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.video-content {
  margin: 0 auto;
  position: relative;
}

.video-content .banner-wrapper {
  position: relative;
}

.video-content .banner-wrapper .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../images/play-icon.png") center center no-repeat;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  height: 14rem;
  width: 14rem;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .video-content .banner-wrapper .play-icon {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .video-content .banner-wrapper .play-icon {
    height: 10rem;
    width: 10rem;
  }
}

.video-content .banner-wrapper .img {
  width: 100%;
  display: block;
}

.video-content .banner-wrapper .down-arrow {
  background: url("../images/down-arrow.png");
  position: absolute;
  bottom: 13px;
  left: 50%;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .video-content .banner-wrapper .down-arrow {
    bottom: 3px;
    left: 50%;
    width: 2rem;
    height: 1rem;
  }
}

.video-content iframe {
  display: none;
}

.video-content .main-container {
  text-align: center;
  background: url("../images/home/banner.png") center center;
  background-size: cover;
  position: relative;
}

.video-content .main-container .content {
  width: 86%;
  margin: 0 auto;
  padding: 9% 0;
}

.video-content .main-container .content .top-design {
  margin-bottom: 6rem;
}

@media screen and (max-width: 767px) {
  .video-content .main-container .content .top-design {
    width: 20%;
    margin-top: 7rem;
  }
}

.video-content .main-container .content .bottom-design {
  margin-top: 8rem;
}

@media screen and (max-width: 767px) {
  .video-content .main-container .content .bottom-design {
    width: 20%;
    margin-bottom: 7rem;
  }
}

.video-content .main-container .content .texts {
  width: 98%;
  margin: 0 auto;
}

.video-content .main-container .content .texts h1 {
  font-size: 9.2rem;
  font-family: "Lato-Black", sans-serif;
  padding-bottom: 2rem;
  color: #fff0d5;
}

@media screen and (max-width: 1366px) {
  .video-content .main-container .content .texts h1 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .video-content .main-container .content .texts h1 {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .video-content .main-container .content .texts h1 {
    font-size: 5rem;
  }
}

.video-content .main-container .content .texts p {
  font-size: 2.6rem;
  color: #fff0d5;
  font-family: "Lato-Regular", sans-serif;
}

@media screen and (max-width: 1366px) {
  .video-content .main-container .content .texts p {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 767px) {
  .video-content .main-container .content .texts p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .video-content .main-container .content .texts {
    width: 100%;
  }
}

.upload-container {
  text-align: center;
  background: url("../images/steps/how-background.png") center center;
  background-size: cover;
}

.upload-container h2 {
  font-size: 5.6rem;
  font-family: "Lato-Regular", sans-serif;
  padding: 5rem 0;
  color: #900f1b;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .upload-container h2 {
    font-size: 2.6rem;
    padding: 3rem 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container h2 {
    font-size: 4.6rem;
  }
}

.upload-container .container {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.upload-container .container .steps {
  width: 21%;
  display: inline-block;
}

.upload-container .container .steps div.step {
  background-color: #ae2c32;
  color: #fff0d5;
  font-family: "Lato-Heavy", sans-serif;
  font-size: 2rem;
  border-radius: 1rem;
  width: 30%;
  padding: 0.3rem 0;
  margin: 0 auto;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .upload-container .container .steps div.step {
    font-size: 1.2rem;
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .steps div.step {
    font-size: 1.5rem;
    width: 45%;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1181px) {
  .upload-container .container .steps div.step {
    width: 38%;
  }
}

.upload-container .container .steps p.instr {
  font-family: "Lato-Bold", sans-serif;
  font-size: 2rem;
  color: #ae2c32;
}

@media screen and (max-width: 767px) {
  .upload-container .container .steps p.instr {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .steps p.instr {
    font-size: 1.5rem;
  }
}

.upload-container .container .steps img {
  margin: 2rem 0;
}

@media screen and (max-width: 767px) {
  .upload-container .container .steps img {
    width: 51%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .steps img {
    width: 100%;
  }
}

.upload-container .container .steps .tw {
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  .upload-container .container .steps .tw {
    width: 57%;
    margin-left: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .steps .tw {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1181px) {
  .upload-container .container .steps .tw {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .upload-container .container .steps {
    width: 42%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .steps {
    width: 18%;
    display: inline-block;
    margin: 0 1rem;
  }
}

.upload-container .container .or {
  width: 14%;
  display: inline-block;
}

.upload-container .container .or .section p {
  font-family: "Lato-Black", sans-serif;
  font-size: 5.6rem;
  color: #ae2c32;
  padding: 2rem 0;
}

@media screen and (max-width: 767px) {
  .upload-container .container .or .section p {
    font-size: 2.3rem;
    display: inline-block;
    padding: 0 1.5rem;
    transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -o-transform: translateY(-15%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .or .section p {
    font-size: 4.6rem;
    padding: 1rem 0;
  }
}

.upload-container .container .or .section .divider2 {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .or .section .divider2 {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .upload-container .container .or .section {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 767px) {
  .upload-container .container .or {
    width: 100%;
  }
  .upload-container .container .or .divider1, .upload-container .container .or .divider2 {
    display: none;
  }
  .upload-container .container .or .divider1-mobile, .upload-container .container .or .divider2-mobile {
    display: inline-block;
    width: 25%;
  }
  .upload-container .container .or p {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .upload-container .container .or p {
    margin: 0;
    font-size: 2.3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .or {
    width: 12%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .container .tw-wrapper {
    width: 20%;
  }
}

.upload-container .upload {
  padding-bottom: 5rem;
  padding-top: 4rem;
}

.upload-container .upload #upload-btn {
  display: inline-block;
  background: transparent;
  font-family: "Lato-Medium", sans-serif;
  font-size: 2.8rem;
  color: #ae2c32;
  border-radius: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  border: 2px solid #ae2c32;
}

@media screen and (max-width: 767px) {
  .upload-container .upload #upload-btn {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .upload-container .upload #upload-btn {
    font-size: 2rem;
  }
}

.gallery-content {
  text-align: center;
  background-color: #900f1b;
  position: relative;
}

.gallery-content .row .card {
  position: relative;
  height: 0;
  padding-bottom: 25%;
  font-size: 2rem;
}

.gallery-content .row .card .question-wrapper {
  position: relative;
  width: 85%;
  margin: 3rem auto 0;
}

.gallery-content .row .card .question-wrapper .question {
  text-align: left;
  color: #f6ecda;
  font-family: "Lato-Regular", sans-serif;
  font-size: 3rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .gallery-content .row .card .question-wrapper .question {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .gallery-content .row .card .question-wrapper .question {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1181px) {
  .gallery-content .row .card .question-wrapper .question {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1190px) and (max-width: 1400px) {
  .gallery-content .row .card .question-wrapper .question {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .gallery-content .row .card .question-wrapper {
    margin: 1.5rem auto 0;
  }
}

.gallery-content .row .card .share-container {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.gallery-content .row .card .share-container .user-name {
  font-size: 2.4rem;
  font-style: italic;
  color: #f6ecda;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .gallery-content .row .card .share-container .user-name {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .gallery-content .row .card .share-container {
    bottom: 1rem;
    right: 1.2rem;
  }
  .gallery-content .row .card .share-container .user-name {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  .gallery-content .row .card {
    padding-bottom: 38%;
  }
}

.gallery-content #load-more {
  position: absolute;
  left: 50%;
  bottom: -4rem;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background: url("../images/down-btn.png");
  height: 7.8rem;
  width: 7.8rem;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .gallery-content #load-more {
    background: url("../images/down-arrow-mobile.png");
    height: 1.75rem;
    background-size: contain;
    width: 3.7rem;
    bottom: -1.7rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .gallery-content #load-more {
    height: 6rem;
    width: 6rem;
    bottom: -3rem;
  }
}

.count-section {
  background: url("../images/banner-numbers.png") center center;
  background-size: cover;
}

.count-section .count {
  margin: 0 auto;
  width: 81%;
  padding: 6rem 0;
}

.count-section .count h1 {
  text-align: center;
  font-size: 7.1rem;
  color: #f6ecda;
  font-family: "Lato-Semibold", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1366px) {
  .count-section .count h1 {
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 767px) {
  .count-section .count h1 {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .count-section .count h1 {
    font-size: 4rem;
  }
}

.count-section .count .share-btns {
  font-family: "Lato-Regular", sans-serif;
  font-size: 2.9rem;
  color: #f6ecda;
  text-align: center;
  margin-top: 1rem;
}

.count-section .count .share-btns img {
  margin: 0 1rem;
  width: 4rem;
  transform: translateY(25%);
  -ms-transform: translateY(25%);
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -o-transform: translateY(25%);
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .count-section .count .share-btns img {
    width: 3rem;
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 1366px) {
  .count-section .count .share-btns {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .count-section .count .share-btns {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .count-section .count .share-btns {
    font-size: 1.5rem;
  }
  .count-section .count .share-btns img {
    width: 6%;
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .count-section .count {
    padding: 2.6rem 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .count-section .count {
    padding: 2rem 0;
  }
}

.footer {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 3rem;
  background: url("../images/banner-numbers.png");
  color: white;
  font-size: 2rem;
}

.footer .links a {
  color: #d7d7d7;
  font-size: 2.1rem;
  font-family: "Lato-Regular", sans-serif;
}

@media screen and (max-width: 767px) {
  .footer .links a {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .footer .links a {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .footer {
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.modal-content {
  background-color: #8c0b17;
  border: 5px solid #d7d7d7;
  border-radius: 1rem;
  padding: 4rem 5rem;
  overflow: hidden !important;
}

@media screen and (max-width: 767px) {
  .modal-content {
    padding: 2.4rem 2rem;
  }
}

.modal-content h2 {
  font-size: 4.4rem;
  text-align: center;
  color: #d7d7d7;
  font-family: "Lato-Black", sans-serif;
}

@media screen and (max-width: 1366px) {
  .modal-content h2 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-content h2 {
    font-size: 2rem;
  }
}

.modal-content form {
  padding-top: 2rem;
}

.modal-content form .row {
  margin: 5px;
  color: #d7d7d7;
}

.modal-content form .row .m3 {
  text-align: left;
}

.modal-content form .row .m3 label {
  font-family: "Lato-Medium", sans-serif;
  font-size: 2.5rem;
  text-align: left;
}

@media screen and (max-width: 1366px) {
  .modal-content form .row .m3 label {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-content form .row .m3 label {
    font-size: 1.2rem;
  }
}

.modal-content form .row .m9 {
  text-align: left;
  padding-left: 2rem;
}

.modal-content form .row .m9 input, .modal-content form .row .m9 textarea, .modal-content form .row .m9 button {
  padding: 1rem;
  font-size: 2.5rem;
  background: transparent;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  color: #d7d7d7;
  width: 90%;
  font-family: "Lato-Regular", sans-serif;
}

@media screen and (max-width: 1366px) {
  .modal-content form .row .m9 input, .modal-content form .row .m9 textarea, .modal-content form .row .m9 button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-content form .row .m9 input, .modal-content form .row .m9 textarea, .modal-content form .row .m9 button {
    font-size: 1.2rem;
  }
}

.modal-content form .row .m9 textarea {
  resize: none;
}

.modal-content form .row .m9 .length {
  text-align: right;
  margin-right: 1.5rem;
}

.modal-content form .row .m9 button {
  width: 33%;
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: 2.4rem;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .modal-content form .row .m9 button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-content form .row .m9 button {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-content form .row .m9 {
    padding-left: 1rem;
  }
}

.modal-content form .row .error_msg div {
  font-size: 2rem;
  color: #d7d7d7;
  font-family: "Lato-Medium", sans-serif;
}

@media screen and (max-width: 767px) {
  .modal-content form .row .error_msg div {
    font-size: 1.3rem;
  }
}

.modal-thankyou {
  background-color: #8c0b17;
  border: 1rem solid #d7d7d7;
  border-radius: 1rem;
  width: 650px;
  margin: 0 auto;
}

.modal-thankyou .content {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.modal-thankyou .content h3 {
  font-family: "Lato-Black", sans-serif;
  font-size: 4.4rem;
  color: #d7d7d7;
}

@media screen and (max-width: 767px) {
  .modal-thankyou .content h3 {
    font-size: 1.8rem;
  }
}

.modal-thankyou .content .ctq {
  font-family: "Lato-Black", sans-serif;
  font-size: 3rem;
}

@media screen and (max-width: 767px) {
  .modal-thankyou .content .ctq {
    font-size: 1.3rem;
  }
}

.modal-thankyou .content p {
  font-family: "Lato-Medium", sans-serif;
  font-size: 3rem;
  color: #d7d7d7;
  margin-top: 2rem;
}

@media screen and (max-width: 767px) {
  .modal-thankyou .content p {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
}

.modal-thankyou .content .share {
  margin-top: 5rem;
}

.modal-thankyou .content .share .divs {
  display: inline-block;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.modal-thankyou .content .share .divs p {
  display: inline-block;
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 767px) {
  .modal-thankyou .content .share .divs p {
    font-size: 1.5rem;
  }
}

.modal-thankyou .content .share a img {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .modal-thankyou .content .share {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-thankyou .content {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .modal-thankyou {
    width: 300px;
  }
}

.rules-modal {
  background-color: #8c0b17;
  border: 1rem solid #d7d7d7;
  border-radius: 1rem;
  width: 650px;
  height: 400px;
  overflow: auto;
  text-align: center;
  color: #d7d7d7;
}

.rules-modal h3 {
  font-size: 3rem;
  margin: 2rem 0;
}

.rules-modal p {
  font-size: 1.5rem;
  margin: 0 0.5rem 1rem 1rem;
  text-align: left;
}

.rules-modal ul {
  margin: 0 1rem 0 3rem;
}

.rules-modal ul .rules {
  font-size: 1.5rem;
  text-align: left;
  margin: 0 0 1rem;
}

@media screen and (max-width: 767px) {
  .rules-modal {
    width: 300px;
    height: 300px;
    overflow: auto;
  }
  .rules-modal h3 {
    font-size: 1.6rem;
  }
  .rules-modal .rules {
    font-size: 1rem;
  }
}

html, body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Lato-Regular", sans-serif;
}

#cboxClose {
  position: absolute;
  top: -1rem;
  right: 1.5rem;
  background: url(../images/cross.png) no-repeat top center;
  height: 4rem;
  width: 4rem;
  background-size: contain;
  text-indent: -9999px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #cboxClose {
    right: -0.1rem;
    height: 3rem;
    width: 3rem;
  }
}

.to-top {
  position: fixed;
  bottom: 8rem;
  right: 3rem;
  background: grey;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  opacity: 0.7;
}
