

$creamWhite: #fff0d5;
$colorRed: #900f1b;
$colorRedBack: #ae2c32;
$colorWhite: #d7d7d7;
$colorModal:#8c0b17;
$colorFooter: #3f0000;
$colorTab: #edece2;
$colorHeader:#1d0202;
$colorHeaderTabs: #fff0d5;
$colorUserName: #f6ecda;
/* colors */

$black:				#000000;
$white:				#FFFFFF;

/* Primary Colors */
$lightblue:     	#1dbdc6;
$orange:      		#ef632f;
$red: 				#ee1d47;
$redlight: 			#ED2148;
$purple: 			#a40cad;
$green: 			#69bb36;
$txtgreen: 			#178700;
$chillblue:     	#0F8288;
$textblue: 			#008C99;
$pink: 				#963694;

/* Grey Colors */

$ultralightgray:    #737373;
$s-ultralightgray: 	#1dbdc6;
$lightgray:     	#666666;
$g-ultralightgray:  #D1D1D1;
$grey: 		   		#484749;
$g-lightgray:     	#959595;
$b-lightgray:     	#BDBDBD;
$w-lightgrey: 		#E5E5E5;

$text-grey: 		#414042;
$bg-lightgrey:		#F6F6F6;
$bg-darkgrey:		#383838;
$disabled:  		#BDBDBD;

