html{ font-size: 62.5%; /* Defining root font 10px*/}

a, a:focus, a:active,  a:hover{text-decoration: none; outline: 0 none;color:#0075c9;}
a{ color:black; text-decoration:none;}

input, textarea, button{ border:0 none;
  -webkit-appearance: none;

}
//body{ margin:0; padding:0; font-family: $font-reg;}
ul{ margin:0; padding:0;}
ol{ margin:0; padding:0;}
ul li, p{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; margin: 0;}
*:focus{ outline: none;}

/*	Common classes	*/

.left{ float:left;}
.right{ float:right;}
.center{ text-align:center;}
.hide{ display:none;}
.show{ display:block;}

.clear{ clear:both;
  &:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
}
.clearfix:before,.clearfix:after { content: " "; display: table;}
.clearfix:after{ clear: both;}
.clearfix{ *zoom: 1;}


