@font-face {
  font-family: 'Lato-Black';
  src: url('../fonts/site/Lato-Black.eot');
  src: url('../fonts/site/Lato-Black.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Black.woff2') format('woff2'),
  url('../fonts/site/Lato-Black.woff') format('woff'),
  url('../fonts/site/Lato-Black.ttf') format('truetype'),
  url('../fonts/site/Lato-Black.svg#Lato-Black') format('svg');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/site/Lato-Bold.eot');
  src: url('../fonts/site/Lato-Bold.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Bold.woff2') format('woff2'),
  url('../fonts/site/Lato-Bold.woff') format('woff'),
  url('../fonts/site/Lato-Bold.ttf') format('truetype'),
  url('../fonts/site/Lato-Bold.svg#lato-Bold') format('svg');
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('../fonts/site/Lato-Hairline.eot');
  src: url('../fonts/site/Lato-Hairline.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Hairline.woff2') format('woff2'),
  url('../fonts/site/Lato-Hairline.woff') format('woff'),
  url('../fonts/site/Lato-Hairline.ttf') format('truetype'),
  url('../fonts/site/Lato-Hairline.svg#Lato-Hairline') format('svg');
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url('../fonts/site/Lato-Heavy.eot');
  src: url('../fonts/site/Lato-Heavy.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Heavy.woff2') format('woff2'),
  url('../fonts/site/Lato-Heavy.woff') format('woff'),
  url('../fonts/site/Lato-Heavy.ttf') format('truetype'),
  url('../fonts/site/Lato-Heavy.svg#Lato-Heavy') format('svg');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/site/Lato-Light.eot');
  src: url('../fonts/site/Lato-Light.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Light.woff2') format('woff2'),
  url('../fonts/site/Lato-Light.woff') format('woff'),
  url('../fonts/site/Lato-Light.ttf') format('truetype'),
  url('../fonts/site/Lato-Light.svg#Lato-Light') format('svg');
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../fonts/site/Lato-Medium.eot');
  src: url('../fonts/site/Lato-Medium.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Medium.woff2') format('woff2'),
  url('../fonts/site/Lato-Medium.woff') format('woff'),
  url('../fonts/site/Lato-Medium.ttf') format('truetype'),
  url('../fonts/site/Lato-Medium.svg#Lato-Medium') format('svg');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/site/Lato-Regular.eot');
  src: url('../fonts/site/Lato-Regular.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Regular.woff2') format('woff2'),
  url('../fonts/site/Lato-Regular.woff') format('woff'),
  url('../fonts/site/Lato-Regular.ttf') format('truetype'),
  url('../fonts/site/Lato-Regular.svg#Lato-Regular') format('svg');
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../fonts/site/Lato-Semibold.eot');
  src: url('../fonts/site/Lato-Semibold.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Semibold.woff2') format('woff2'),
  url('../fonts/site/Lato-Semibold.woff') format('woff'),
  url('../fonts/site/Lato-Semibold.ttf') format('truetype'),
  url('../fonts/site/Lato-Semibold.svg#Lato-Semibold') format('svg');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../fonts/site/Lato-Thin.eot');
  src: url('../fonts/site/Lato-Thin.eot') format('embedded-opentype'),
  url('../fonts/site/Lato-Thin.woff2') format('woff2'),
  url('../fonts/site/Lato-Thin.woff') format('woff'),
  url('../fonts/site/Lato-Thin.ttf') format('truetype'),
  url('../fonts/site/Lato-Thin.svg#Lato-Thin') format('svg');
}
/*	variables	*/
$fontBlack: 'Lato-Black', sans-serif;
$fontBold: 'Lato-Bold', sans-serif;
$fontHairline: 'Lato-Hairline', sans-serif;
$fontHeavy: 'Lato-Heavy', sans-serif;
$fontLight:'Lato-Light', sans-serif;
$fontMedium:'Lato-Medium', sans-serif;
$fontRegular:'Lato-Regular', sans-serif;
$fontSemibold:'Lato-Semibold', sans-serif;
$fontThin:'Lato-Thin', sans-serif;
