.footer{
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 3rem;
  background: url("../images/banner-numbers.png");
  color:white;
  font-size: 2rem;
  .links{
    a{
      color: $colorWhite;
      font-size: 2.1rem;
      font-family: $fontRegular;
      @media #{$tablet-portrait} {
        font-size: 1.1rem;
      }
      @media #{$iPad-screen} {
        font-size: 1.6rem;
      }
    }
  }
  @media #{$tablet-portrait} {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
  }
  @media #{$iPad-screen} {
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
}
