.master-header{
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5555;
  height: 11.1rem;
  @media #{$desk} {
    height: 10.5rem;
  }
  @media #{$tablet-portrait} {
    height: 6.5rem;
  }

  .logo{
    font-size: 2rem;
    color:white;
    display: inline-block;
    margin-top: 3.6rem;
    margin-left: 3.2rem;
    img{
      @media #{$desk} {
        width: 90%;
      }
      @media #{$tablet-portrait} {
        width: 55%;
      }
    }
    @media #{$tablet-portrait} {
      margin-top: 2rem;
      margin-left: 3rem;
    }
  }
  .mobile-tab{
    float: right;
    margin-top: 2rem;
    margin-right: 2rem;
    position: relative;

    @media #{$tablet-portrait} {
      display: inline-block;
    }
    @media only screen and (max-width: 750px) and (min-width: 360px){

    }

    #nav-icon4 {
      width: 3rem;
      height: 40px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon4 span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-icon4 span:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-icon4 span:nth-child(3) {
      top: 20px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }

    #nav-icon4.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -1px;
      left: 9px;
    }

    #nav-icon4.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    #nav-icon4.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 20px;
      left: 8px;
    }
    #nav-icon4 span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $colorTab;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
  }

  .navbar{
    float: right;
    margin-top: 3.3rem;
    ul {
      padding-right: 2rem;
      li{
        position: relative;
        float: left;
        color: white;
        font-size: 2rem;
        padding: 1rem;
        list-style: none;
        .nav{
          text-decoration: none;
          color:white;
          font-family: $fontMedium;
          font-size: 1.9rem;
          text-transform: uppercase;

          @media #{$desk} {
            font-size: 1.8rem;
          }

          @media #{$tablet-portrait} {
            font-size: 3rem;
            color: $colorHeaderTabs;
          }
          @media #{$iPad-screen} {
            font-size: 1.5rem;
          }
        }
        .icon{
          margin-right: 0.5rem;
        }
      }
      @media #{$tablet-portrait} {
        width: 100%;
        li{
          width: 100%;
        }
      }
    }
    @media #{$tablet-portrait} {
      width: 100%;
      display: none;
      text-align: center;
    }

  }
}

.visible{
  display: block !important;
}

.mobile-bar{
  height: 35rem;
  background-color: rgba(29,2,2, 0.9);
}

.fade-down {
  background-color: rgba(29,2,2, 0.9);
  animation: 0.5s ease-in-out 0.1s normal both 1 running fade-down;
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

//header .navbar li a::after {
//  position: absolute;
//  top: 100%;
//  left: 0;
//  width: 100%;
//  height: 3px;
//  background: $colorWhite;
//  content: '';
//  opacity: 0;
//  -webkit-transform: translateX(-100px);
//  -khtml-transform: translateX(-100px);
//  -moz-transform: translateX(-100px);
//  -ms-transform: translateX(-100px);
//  -o-transform: translateX(-100px);
//  transform: translateX(-100px);
//  -webkit-transition: opacity 0.3s ease;
//  -khtml-transition: opacity 0.3s ease;
//  -moz-transition: opacity 0.3s ease;
//  -ms-transition: opacity 0.3s ease;
//  -o-transition: opacity 0.3s ease;
//  transition: opacity 0.3s ease;
//  -webkit-transition: all 0.3s ease;
//  -khtml-transition: all 0.3s ease;
//  -moz-transition: all 0.3s ease;
//  -ms-transition: all 0.3s ease;
//  -o-transition: all 0.3s ease;
//  transition: all 0.3s ease;
//}
//header .navbar li a:hover::after {
//  opacity: 1;
//  -webkit-transform: translateX(0px);
//  -khtml-transform: translateX(0px);
//  -moz-transform: translateX(0px);
//  -ms-transform: translateX(0px);
//  -o-transform: translateX(0px);
//  transform: translateX(0px);
//
//}
//
//header .navbar li.active a::after {
//  opacity: 1;
//  -webkit-transform: translateX(0px);
//  -khtml-transform: translateX(0px);
//  -moz-transform: translateX(0px);
//  -ms-transform: translateX(0px);
//  -o-transform: translateX(0px);
//  transform: translateX(0px);
//}

