
.video-content{
  margin: 0 auto;
  position: relative;
  .banner-wrapper{
    position: relative;
    .play-icon{
      position: absolute;
      top:  50%;
      left: 50%;
      background: url("../images/play-icon.png") center center no-repeat;
      transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      height: 14rem;
      width: 14rem;
      background-size: contain;
      cursor: pointer;
      @media #{$tablet-portrait} {
        height: 4rem;
        width: 4rem;
      }
      @media #{$iPad-screen} {
        height: 10rem;
        width: 10rem;
      }
    }

    .img{
      width: 100%;
      display: block;
    }
    .down-arrow{
      background: url("../images/down-arrow.png");
      position: absolute;
      bottom: 13px;
      left: 50%;
      width: 4rem;
      height: 2rem;
      cursor: pointer;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);

      @media #{$tablet-portrait} {
        bottom: 3px;
        left: 50%;
        width: 2rem;
        height: 1rem;
      }
    }
  }

  iframe{
    display: none;
  }

  .main-container{
    text-align: center;
    background: url("../images/home/banner.png") center center;
    background-size: cover;
    position: relative;
    .content{
      width: 86%;
      margin: 0 auto;
      padding: 9% 0;
      .top-design{
        margin-bottom: 6rem;
        @media #{$tablet-portrait} {
          width: 20%;
          margin-top: 7rem;
        }
      }
      .bottom-design{
        margin-top: 8rem;
        @media #{$tablet-portrait} {
          width: 20%;
          margin-bottom: 7rem;
        }
      }
      .texts{
        width: 98%;
        margin: 0 auto;
        h1{
          font-size: 9.2rem;
          font-family: $fontBlack;
          padding-bottom: 2rem;
          color: $creamWhite;
          @media #{$desk} {
            font-size: 7rem;
          }
          @media #{$tablet-portrait} {
            font-size: 2.8rem;
          }
          @media #{$iPad-screen} {
            font-size: 5rem;
          }
        }
        p{
          font-size: 2.6rem;
          color: $creamWhite;
          font-family: $fontRegular;
          @media #{$desk} {
            font-size: 2.4rem;
          }
          @media #{$tablet-portrait} {
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }
        @media #{$tablet-portrait} {
          width: 100%;
        }

      }
    }
  }
}

.upload-container{
  text-align: center;
  background: url("../images/steps/how-background.png")center center;
  background-size: cover;

  h2{
    font-size: 5.6rem;
    font-family: $fontRegular;
    padding: 5rem 0;
    color: $colorRed;
    text-transform: uppercase;
    @media #{$tablet-portrait} {
      font-size: 2.6rem;
      padding: 3rem 0;
    }
    @media #{$iPad-screen} {
      font-size: 4.6rem;
    }
  }
  .container{
    width: 100%;
    margin: 0 auto;
    display: block;
    .steps{
      width: 21%;
      display: inline-block;
      div.step{
        background-color: $colorRedBack;
        color: $creamWhite;
        font-family: $fontHeavy;
        font-size: 2rem;
        border-radius: 1rem;
        width:30%;
        padding: 0.3rem 0;
        margin: 0 auto;
        text-transform: uppercase;
        @media #{$tablet-portrait} {
          font-size: 1.2rem;
          border-radius: 0.5rem;
        }
        @media #{$iPad-screen} {
          font-size: 1.5rem ;
          width: 45%;
        }
        @media #{$large-tablet} {
          width: 38%;
        }
      }
      p.instr{
        font-family: $fontBold;
        font-size: 2rem;
        color: $colorRedBack;
        @media #{$tablet-portrait} {
          font-size: 1.3rem;
        }
        @media #{$iPad-screen} {
          font-size: 1.5rem ;
        }
      }
      img{
        //width: 75%;
        margin: 2rem 0;
        @media #{$tablet-portrait} {
          width: 51%;
        }
        @media #{$iPad-screen} {
          width: 100%;
        }
      }
      .tw{
        //width: 83.7%;
        margin-left: 2rem;
        @media #{$tablet-portrait} {
          width: 57%;
          margin-left: 8px;
        }
        @media #{$iPad-screen} {
          margin-left: 1rem;
        }
        @media #{$large-tablet} {
          margin-left: 1rem;
        }

      }
      @media #{$tablet-portrait} {
        width: 42%;
      }
      @media #{$iPad-screen} {
        width: 18%;
        display: inline-block;
        margin: 0 1rem;
      }
      }
    .or{
      width: 14%;
      display: inline-block;
      .section{
        p{
          font-family: $fontBlack;
          font-size: 5.6rem;
          color: $colorRedBack;
          padding: 2rem 0;
          @media #{$tablet-portrait} {
            font-size: 2.3rem;
            display: inline-block;
            padding: 0 1.5rem;
            transform: translateY(-15%);
            -ms-transform: translateY(-15%);
            -webkit-transform: translateY(-15%);
            -moz-transform: translateY(-15%);
            -o-transform: translateY(-15%);
          }
          @media #{$iPad-screen} {
            font-size: 4.6rem ;
            padding: 1rem 0;
          }
        }
        .divider2{
          margin-bottom: 3rem;
          @media #{$iPad-screen} {
            margin-bottom: 0rem;
          }
        }
        @media #{$tablet-portrait} {
          padding: 2rem 0;
        }
      }
      @media #{$tablet-portrait} {
        width: 100%;
        .divider1, .divider2{
          display: none;
        }
        .divider1-mobile, .divider2-mobile{
          display: inline-block;
          width: 25%;
        }
        p{
          margin: 0 2rem;
          @media #{$tablet-portrait} {
            margin: 0;
            font-size: 2.3rem;
          }

        }
      }
      @media #{$iPad-screen} {
        width: 12%;
      }
    }
    .tw-wrapper{
      @media #{$iPad-screen} {
        width: 20%;
      }
    }
  }
  .upload{
    padding-bottom: 5rem;
    padding-top: 4rem;
    #upload-btn{
      display: inline-block;
      background: transparent;
      font-family: $fontMedium;
      font-size: 2.8rem;
      color: $colorRedBack;
      border-radius: 1rem;
      padding: 1rem;
      text-transform: uppercase;
      border: 2px solid $colorRedBack;
      @media #{$tablet-portrait} {
        font-size: 1.8rem;
      }
      @media #{$iPad-screen} {
        font-size: 2rem;
      }
    }
  }
}

.gallery-content{
  text-align: center;
  background-color: $colorRed;
  position: relative;
  .row{
    .card{
      position: relative;
      height:0;
      padding-bottom: 25%;
      font-size: 2rem;
      .question-wrapper{
        position: relative;
        width: 85%;
        margin: 3rem auto 0;
        .question{
          text-align: left;
          color: #f6ecda;
          font-family: $fontRegular;
          font-size: 3rem;
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;
          @media #{$tablet-portrait} {
            font-size: 1.2rem;
          }
          @media #{$iPad-screen} {
            font-size: 1.5rem;
          }
          @media #{$large-tablet} {
            font-size: 2rem;
          }
          @media #{$medium-device-screen} {
            font-size: 2.5rem;
          }
        }
        @media #{$tablet-portrait} {
          margin: 1.5rem auto 0;
        }
      }
      .share-container{
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        .user-name{
          font-size: 2.4rem;
          font-style: italic;
          color: $colorUserName;
          @media #{$iPad-screen} {
            font-size: 1.4rem;
          }
        }
        @media #{$tablet-portrait} {
          bottom: 1rem;
          right: 1.2rem;
          .user-name{
            font-size: 1.1rem;
          }
        }
      }
      @media #{$tablet-portrait} {
        padding-bottom: 38%;
      }
    }
  }
  #load-more{
    position: absolute;
    left: 50%;
    bottom: -4rem;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background: url("../images/down-btn.png");
    height: 7.8rem;
    width: 7.8rem;
    background-size: contain;
    cursor: pointer;
    @media #{$tablet-portrait} {
      background: url("../images/down-arrow-mobile.png");
      height: 1.75rem;
      background-size: contain;
      width: 3.7rem;
      bottom: -1.7rem;
      cursor: pointer;
    }
    @media #{$iPad-screen} {
      height: 6rem;
      width: 6rem;
      bottom: -3rem;
    }
  }
}

.count-section{
  background: url("../images/banner-numbers.png") center center;
  background-size: cover;
  .count{
    margin: 0 auto;
    width: 81%;
    padding: 6rem 0;
    h1{
      text-align: center;
      font-size: 7.1rem;
      color: #f6ecda;
      font-family: $fontSemibold;
      text-transform: uppercase;
      @media #{$desk} {
        font-size: 6.5rem;
      }
      @media #{$tablet-portrait} {
        font-size: 2.4rem;
      }
      @media #{$iPad-screen} {
        font-size: 4rem;
      }
    }
    .share-btns{
      font-family: $fontRegular;
      font-size: 2.9rem;
      color: $colorUserName;
      text-align: center;
      margin-top: 1rem;
      img{
        margin: 0 1rem;
        width: 4rem;
        transform: translateY(25%);
        -ms-transform: translateY(25%);
        -webkit-transform: translateY(25%);
        -moz-transform: translateY(25%);
        -o-transform: translateY(25%);
        @media #{$iPad-screen} {
          width: 3rem;
          margin: 0 0.5rem;
        }
      }
      @media #{$desk} {
        font-size: 2.5rem;
      }
      @media #{$iPad-screen} {
        font-size: 2rem;
      }
      @media #{$tablet-portrait} {
        font-size: 1.5rem;
        img{
          width: 6%;
          margin: 0 0.5rem;
        }
      }
    }
    @media #{$tablet-portrait} {
      padding: 2.6rem 0;
    }
    @media #{$iPad-screen} {
      padding: 2rem 0;
    }
  }
}