$small-screen-up1: 641px !default;
$medium-screen1:960px !default;
$medium-screen-up1:961px !default;

$small-screen1: 640px !default;
$large-screen-up1: 1181px !default;
// media screen for font size
$laptop-screen: 1370px !default;
// media screen for hero-image
$high-res:1440px !default;
$high-res-max:1920px !default;

//$small-and-down: "only screen and (max-width : #{$small-screen1})" !default;
$common-media:"only screen and (max-width : #{$medium-screen1})" !default;
//$medium-only: "only screen and (min-width : #{$small-screen-up1}) and (max-width : #{$medium-screen1})" !default;
$tablet:"only screen and (min-width : #{$medium-screen-up1}) and (max-width : #{$large-screen-up1})" !default;

// media screen for font size
$laptop:"only screen and (min-width : #{$large-screen-up1}) and (max-width : #{$laptop-screen})" !default;
// media screen for hero-image
$high-resolution :"only screen and (min-width : #{$high-res}) and (max-width : #{$high-res-max})" !default;
//medida screen for ipad
$ipad-min-width : 768px;
$ipad-max-width : 960px;
$iPad-screen : "only screen and (min-width : #{$ipad-min-width}) and (max-width : #{$ipad-max-width})" !default;

$large-tablet : "only screen and (min-width : #{$medium-screen-up1}) and (max-width : #{$large-screen-up1})" !default;

//media screen for cards font
$min-res : 1190px;
$max-res : 1400px;

$medium-device-screen : "only screen and (min-width : #{$min-res}) and (max-width : #{$max-res})" !default;