
.modal-content{
  background-color: $colorModal;
  border: 5px solid $colorWhite;
  border-radius: 1rem;
  padding: 4rem 5rem;
  overflow: hidden !important;
  @media #{$tablet-portrait} {
    padding: 2.4rem 2rem;
  }
  h2{
    font-size: 4.4rem;
    text-align: center;
    color: $colorWhite;
    font-family: $fontBlack;

    @media #{$desk} {
      font-size: 3.5rem;
    }
    @media #{$tablet-portrait} {
      font-size: 2rem;
    }


  }
  form{
    padding-top: 2rem;
    .row {
      margin: 5px;
      color: $colorWhite;
      .m3{
        text-align: left;
        label{
          font-family: $fontMedium;
          font-size: 2.5rem;
          text-align: left;
          @media #{$desk} {
            font-size: 2rem;
          }
          @media #{$tablet-portrait} {
            font-size: 1.2rem;
          }
        }
      }

      .m9{
        text-align: left;
        padding-left: 2rem;

        input, textarea, button {
          padding: 1rem;
          font-size: 2.5rem;
          background: transparent;
          border: 1px solid $colorWhite;
          border-radius: 5px;
          color: $colorWhite;
          width: 90%;
          font-family: $fontRegular;

          @media #{$desk} {
            font-size: 2rem;
          }
          @media #{$tablet-portrait} {
            font-size: 1.2rem;
          }

        }
        textarea {
          resize: none;
        }
        .length{
          text-align: right;
          margin-right: 1.5rem;
          @media #{$tablet-portrait} {

          }
        }
        button{
          width: 33%;
          text-transform: uppercase;
          padding: 0.5rem;
          font-size: 2.4rem;
          cursor: pointer;
          @media #{$desk} {
            font-size: 2rem;
          }
          @media #{$tablet-portrait} {
            font-size: 1.1rem;
          }
        }
        @media #{$tablet-portrait} {
          padding-left: 1rem;
        }
      }
      .error_msg div{
        font-size: 2rem;
        color: $colorWhite;
        font-family: $fontMedium;

        @media #{$tablet-portrait} {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.modal-thankyou{
  background-color: $colorModal;
  border: 1rem solid $colorWhite;
  border-radius: 1rem;
  width: 650px;
  margin: 0 auto;
  .content{
    padding-top: 10rem;
    padding-bottom: 5rem;
    h3{
      font-family: $fontBlack;
      font-size: 4.4rem;
      color: $colorWhite;
      @media #{$tablet-portrait} {
        font-size: 1.8rem;
      }
    }
    .ctq{
      font-family: $fontBlack;
      font-size: 3rem;
      @media #{$tablet-portrait} {
        font-size: 1.3rem;
      }
    }
    p{
      font-family: $fontMedium;
      font-size: 3rem;
      color: $colorWhite;
      margin-top: 2rem;
      @media #{$tablet-portrait} {
        font-size: 1.3rem;
        margin-top: 0.5rem;
      }
    }
    .share{
      margin-top: 5rem;
      .divs{
        display: inline-block;
        transform: translateY(-15%);
        p{
          display: inline-block;
          font-size:2rem;
          margin-right: 0.5rem;
          @media #{$tablet-portrait} {
            font-size: 1.5rem;
          }
        }
      }
      a{
        img{
          margin-right: 5px;
        }
      }
      @media #{$tablet-portrait} {
        margin-top: 3rem;
      }
    }
    @media #{$tablet-portrait} {
      padding-top: 4.5rem;
      padding-bottom: 2rem;
    }
  }
  @media #{$tablet-portrait} {
    width: 300px;
  }
}


.rules-modal{
  background-color: $colorModal;
  border: 1rem solid $colorWhite;
  border-radius: 1rem;
  width: 650px;
  height:400px;
  overflow: auto;
  text-align: center;
  color: $colorWhite;
  h3{
    font-size: 3rem;
    margin: 2rem 0;
  }
  p{
    font-size: 1.5rem;
    margin: 0 0.5rem 1rem 1rem;
    text-align: left;
  }
  ul{
    margin: 0 1rem 0 3rem;
    .rules{
      font-size: 1.5rem;
      text-align: left;
      margin: 0 0 1rem;
    }
  }
  @media #{$tablet-portrait} {
    width: 300px;
    height:300px;
    overflow: auto;
    h3{
      font-size: 1.6rem;
    }
    .rules{
      font-size: 1rem;
    }
  }
}